.header {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  width: 100%;
  margin: 0 auto 40px;
  padding: 45px 0 0;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .header {
    margin: 0 auto 42px;
    padding: 28px 0 0;
  }
}
